
.music-list {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0px;
  /* background-color: blueviolet; */
  height: 100vh;
  width: 50vh;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


.music-list::-webkit-scrollbar {
  width: 0;  /* For Chrome and Safari */
} 

.music-list {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;  /* For Firefox */
}

.music-item {
  margin-bottom: 10px; 
  margin-left: 5px;  
  margin-right: 5px;

}

.scroll-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 2px;
  background-color: white;
}
